<launch>
 
 <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
<!-- <arg name="world_file" value=" your world here "/> -->
</include>

<include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch">
<arg name="map_file" value="your map file"/> <!-- put the location of your map file here -->
</include>

<include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>

</launch>
